body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.hide {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea {
  outline: none;
  border: none;
}
.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  align-items: center;
  display: flex;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  padding: 16px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: none;
  }
}
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
@media screen and (min-width: 1158px) {
  .header-nav {
    justify-content: unset;
  }
}
.header-span {
  color: #2e2f42;
}
.footer-span {
  color: #f4f4fd;
}
.header-nav-list {
  display: none;
  list-style-type: none;
  gap: 40px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    margin: 0 120px;
  }
}
@media screen and (min-width: 1158px) {
  .header-nav-list {
    display: flex;
    margin: 0 70px;
  }
}
.nav-link {
  display: block;
  position: relative;
  color: #2e2f42;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.current {
  color: #404bbf;
}
.nav-link.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: 4px solid #404bbf;
  border-radius: 2px;
  width: 100%;
  bottom: -1px;
  background-color: #404bbf;
}
.header-address {
  line-height: 150%;
  font-style: normal;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-address {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1158px) {
  .header-address {
    display: flex;
    flex-direction: row;
  }
}
.header-address-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
}
@media screen and (min-width: 1158px) {
  .header-address-list {
    row-gap: 0;
    column-gap: 40px;
  }
}
.address-link {
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.header-address ul {
  list-style-type: none;
}
.solution {
  margin: 0 auto;
}
.solution .container {
  padding: 72px 52px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/hero-logo-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .solution .container {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-logo-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .solution .container {
    padding: 112px 136px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-logo-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .solution .container {
    padding: 112px 136px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-logo-tab@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1158px) {
  .solution {
    background-image: none;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .solution .container {
    padding: 188px 0;
    background-image: none;
  }
  .solution {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/images/hero-logo@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.solution-title {
  width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  margin: auto;
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .solution-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .solution-title {
    margin-bottom: 48px;
  }
}
.btn {
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: 0;
  display: block;
  margin: 0 auto;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.benefits {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
}
.benefits-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-list {
    flex-direction: row;
    column-gap: 24px;
  }
}
.benefits-list-item {
}
@media screen and (min-width: 768px) {
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .benefits-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
}
.benefits-block {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
@media screen and (min-width: 1158px) {
  .benefits-block {
    display: flex;
  }
}
.benefits-block-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.benefits-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 1158px) {
  .benefits-text {
    font-weight: 400;
  }
}
.team {
  margin: 0 auto;
  background-color: #f4f4fd;
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: unset;
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    gap: 64px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.team-item {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 24px * 3) / 4);
  }
}
.team-descr {
  padding: 32px 0;
}
.team-member {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.team-links-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials {
  fill: #f4f4fd;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 150ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}

.portfolio {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  row-gap: 48px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    column-gap: 24px;
  }
}
.portfolio-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-thumb {
  position: relative;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  background: #4d5ae5;
}
.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 24px * 2) / 3);
  }
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-block {
}
@media screen and (min-width: 1158px) {
  .footer-block {
    margin-right: 120px;
  }
}
.footer-text {
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}
.footer-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.footer .wraper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .footer .wraper {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 164px 0 108px;
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer .wraper {
    flex-wrap: nowrap;
    padding: 0 15px;
    gap: 0;
  }
}
.footer-socials {
}
@media screen and (min-width: 1158px) {
  .footer-socials {
    margin-right: 80px;
  }
}
.footer-socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 150ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-form-text {
    text-align: left;
  }
  .footer-socials-text {
    text-align: left;
  }
  .footer-logo {
    text-align: left;
  }
}
.footer-form-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 12px;
  color: #ffffff;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}
@media screen and (min-width: 1158px) {
  .footer-form-input {
    opacity: 1;
  }
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.footer-send {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-send {
    flex-direction: row;
    gap: 24px;
  }
}
.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-form-icon {
  margin-left: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 288px;
  padding: 72px 16px 24px 16px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
.backdrop.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transition-delay: 300ms;
  visibility: visible;
}
.form-wraper {
  width: 360px;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e7e9fc;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: 0;
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input-wraper {
  position: relative;
  margin-top: 4px;
}
.label-wraper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-form-wraper {
  margin-bottom: 8px;
}
.comment-form-wraper {
  margin-bottom: 16px;
}

.icon-set {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-set {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-set:focus {
  border: 1px solid #4d5ae5;
}
.input-set:focus + .icon-set {
  fill: #4d5ae5;
}
textarea:focus {
  border: 1px solid #404bbf;
}

.textarea-modal {
  width: 100%;
  min-height: 120px;
  resize: none;
  margin-top: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.textarea-modal:focus {
  border-color: #4d5ae5;
}
.user-comment-wraper {
  margin-bottom: 16px;
}
.form-submit {
  width: 100%;
}
.copy {
  margin-bottom: 24px;
}
.submit-btn {
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: 0;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-user-privacy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.user-privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.policy {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.input-user-privacy:checked + .label-user-privacy > .user-privacy-span {
  background-color: #404bbf;
  border: transparent;
  fill: #f4f4fd;
}
.modal-true-icon {
  opacity: 0;
  fill: #f4f4fd;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-user-privacy:checked
  + .label-user-privacy
  > .user-privacy-span
  > .modal-true-icon {
  opacity: 1;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
  background: #ffffff;
}
.mobile-menu.is-open {
  transform: translateX(0);
  transition-timing-function: ease-in;
}
.mobile-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
  margin-bottom: auto;
}
.mobile-menu-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  color: #404bbf;
}
.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  margin-bottom: 48px;
}
.mobile-menu-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.accent {
  color: #4d5ae5;
}
.mobile-menu-links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.mobile-menu-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 150ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
